<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a style="pointer: cursor" class="navbar-brand">Recipe Book</a>
      </div>
  
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a class="navbar-nav" routerLink="/recipes">Recipes</a></li>
          <li routerLinkActive="active"><a class="navbar-nav" routerLink="/shoppingList">Shopping List</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" appDropdown>
            <a style="pointer: cursor" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a style="pointer: cursor" (click)="onSave()">Save Data</a></li>
              <li><a style="pointer: cursor" (click)="onFetch()">Fetch Data</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  